<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dev.webboot2.dao.StatisticMapper">
 
    <select id="selectYearLogin" parameterType="string" resultType="hashMap">
    <!-- 해당년도의 로그인 수 -->
        select count(*) as totCnt from requestinfo where left(createDate, 2) = 20;
              
    </select>
    
</mapper>